<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Helicopter Route Planner</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&amp;display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <h1>Helicopter Route Planner</h1>

    <!-- Top Config -->
    <div>
      <label for="helicopter"></label>
      <select id="helicopter"></select>

      <label for="region-select">Base:</label>
      <select id="region-select">
        <option value="ALL">All Regions</option>
        <option value="Prince George">Prince George</option>
        <option value="Prince Rupert">Prince Rupert</option>
        <option value="Kamloops">Kamloops</option>
        <option value="Parksville">Parksville</option>
        <option value="Vancouver">Vancouver</option>
      </select>

      <label for="flightNum"></label>
      <input
        type="number"
        id="flightNum"
        style="width: 70px"
        placeholder="(Flight #)"
      />
    </div>

    <!-- Crew -->
    <div>
      <!-- <label for="leftPilot"></label> -->
      <div class="pilot-search">
        <input id="leftPilot" autocomplete="off" placeholder="Left Pilot" style="width: 100px" />
        <div class="pilot-results" id="leftPilot-results"></div>
      </div>

      <!-- <label for="rightPilot"></label> -->
      <div class="pilot-search">
        <input id="rightPilot" autocomplete="off" placeholder="Right Pilot" style="width: 100px" />
        <div class="pilot-results" id="rightPilot-results"></div>
      </div>

    </div>

    <!-- Seat Assignments -->
    <div>
      <label for="seat1a"></label>
      <div class="pilot-search">
        <input id="seat1a" autocomplete="off" placeholder="Seat 1A" style="width: 100px" />
        <div class="pilot-results" id="seat1a-results"></div>
      </div>

      <label for="seat2a"></label>
      <div class="pilot-search">
        <input id="seat2a" autocomplete="off" placeholder="Seat 2A" style="width: 100px" />
        <div class="pilot-results" id="seat2a-results"></div>
      </div>

      <label for="seat1c"></label>
      <div class="pilot-search">
        <input id="seat1c" autocomplete="off" placeholder="Seat 1C" style="width: 100px" />
        <div class="pilot-results" id="seat1c-results"></div>
      </div>
    </div>

    <!-- Config: Patient, Escort, Speed, Burn -->
    <div>
      <label for="patient">Patient</label>
      <input type="number" id="patient" style="width: 50px" placeholder="(Kg)"/>

      <label for="escort">Escort</label>
      <input type="number" id="escort" style="width: 50px" placeholder="(Kg)" />

      <label for="baggage">Baggage</label>
      <input type="number" id="baggage" style="width: 50px" placeholder="(Kg)" />
    </div>
    
    <div>
      <label for="speed">Cruise Speed</label>
      <input type="number" id="speed" value="115" style="width: 50px" placeholder="Kt" min="90" max="130" />

      <label for="fuel">Fuel Burn</label>
      <input type="number" id="fuel" value="300" style="width: 50px" placeholder="kg/hr" />
   
      <label for="startFuel">Start Fuel</label>
      <input
        type="number"
        id="startFuel"
        value="700"
        min="100"
        max="904"
        style="width: 50px"
        placeholder="(Kg)"
      />
     </div>

    <!-- Route Legs -->
    <div id="legs">
      <div class="leg-row">
        <table class="leg-table">
          <tr>
            <td>
              <label>Leg 1:</label>
              <div class="waypoint-search">
                <input
                  class="from"
                  placeholder="Select Waypoint"
                />
                <div class="waypoint-results"></div>
              </div>
              <div class="scene-inputs from-scene">
                Lat:
                <input
                  type="number"
                  placeholder="49.1939"
                  step="0.0001"
                  class="from-lat"
                />
                Lon:
                <input
                  type="number"
                  placeholder="-123.1833"
                  step="0.0001"
                  class="from-lon"
                />
              </div>
              ➝
              <div class="waypoint-search">
                <input
                  class="to"
                  placeholder="Select Waypoint"
                />
                <div class="waypoint-results"></div>
              </div>
              <div class="scene-inputs to-scene">
                Lat:
                <input
                  type="number"
                  placeholder="49.1939"
                  step="0.0001"
                  class="to-lat"
                />
                Lon:
                <input
                  type="number"
                  placeholder="-123.1833"
                  step="0.0001"
                  class="to-lon"
                />
              </div>
              <button class="remove-leg-btn">Remove</button>
            </td>
          </tr>
          <tr>
            <td class="leg-options">
              <label
                ><input type="checkbox" class="patient-checkbox" />
                Patient</label
              >
              <label
                ><input type="checkbox" class="escort-checkbox" /> Escort</label
              >
              <label>Fuel Uplift</label>
              <input type="number" class="legfuel" min="100" max="904" placeholder="(Kg)" style="width: 50px" />
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div style="margin-top: 5px">
      <button id="addLegBtn">Add Leg</button>
      <button id="calcBtn">Calculate Route</button>
      <button id="emailBtn">Compose Email</button>
      <button id="printBtn">Print Flight Log</button>
      <button id="manageBtn" data-href="{{ url_for('manage') }}">Manage Data</button>
    </div>

    <div class="button-row">
      <button id="foreflightBtn">Foreflight</button>
      <button id="windyBtn">Windy</button>
      <button id="googleBtn">Google Maps</button>
      <button id="metarBtn">METAR-TAF</button>
      <button id="wxbriefBtn">WxBrief</button>
      <button id="skyvectorBtn">SkyVector</button>
    </div>

    <div id="result"></div>
    <div id="weightTable"></div>
    <div id="errors" style="color: red"></div>

    <script src="{{ url_for('static', filename='suncalc.js') }}"></script>
    <script src="{{ url_for('static', filename='html2pdf.bundle.min.js') }}"></script>
    <script type='module' src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
